<div class="row">

  <div class="form-inline ">
    <strong for="selectprofession" class="mx-2 mt-2" >Select Profession:</strong>
      <select name="selectprofession" class="form-control form-select mx-2 mt-2" (change)="profChanged($event)" >
        <option *ngFor="let prof of professionArr">{{prof}}</option>
      </select>
    </div>
    
  <div class="col-2 mt-2" *ngFor="let member of members">
    <app-member-card [memberCard] = "member"></app-member-card>
  </div>

  <div class=" pagination d-flex justify-content-center" *ngIf="pagination">

    <pagination
    class="page-item"
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
    >
  </pagination>



</div>