.my-drop-zone {
    border: dotted 3px lightgray;
  }
  
  .nv-file-over {
    border: dotted 3px green;
  }

  .not-approved {
    opacity: 0.2;
    }
    .img-wrapper {
    position: relative
    }
    .img-text {
    position: absolute;
    bottom: 30%;
    }
  