<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img class="card-img-top img-thumbnail" src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}">
            <div class="card-body">
                <div>
                    <strong>Gender:</strong>
                    <p>{{member.gender}}</p>
                </div>
                <div>
                    <strong>I am:</strong>
                    <p>{{member.employerOrEmployee}}</p>  
                </div>
                <div>
                    <strong>Profession:</strong>
                    <p>{{member.profession}}</p>
                </div>
                 <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>{{member.created | date : 'longDate'}}</p>
                </div>
                <div *ngIf="member.phoneNumber">
                    <strong>Phone Number:</strong>
                    <p>{{member.phoneNumber}}</p>
                </div>
                <div *ngIf="member.email">
                    <strong>Email:</strong>
                    <p>{{member.email}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 tabs">
        <tabset class="member-tabset">
            <tab heading="About {{member.knownAs}}" *ngIf="member.employerOrEmployee == 'Employee'">
                <h4> About Me</h4>
                <p *ngIf="member.introduction" >{{member.introduction}}</p>
                <p *ngIf="!member.introduction">No content</p>
                <h4>Hobbies</h4>
                <p *ngIf="member.hobbies">{{member.hobbies}}</p>
                <p *ngIf="!member.hobbies">No content</p>
            </tab>
            <tab heading="About {{member.knownAs}}" *ngIf="member.employerOrEmployee == 'Employer'">
                <h4> About Us</h4>
                <p *ngIf="member.introduction" >{{member.introduction}}</p>
                <p *ngIf="!member.introduction">No content</p>
            </tab>
            <tab *ngIf="member.employerOrEmployee == 'Employee'" heading="Resume">
                <h4 *ngIf="member.professionalSummary">professional Summary</h4>
                <p>{{member.professionalSummary}}</p>
                <h4 *ngIf="member.education">Education</h4>
                <p>{{member.education}}</p>
                <h4 *ngIf="member.professionalHistory">professional History</h4>
                <p>{{member.professionalHistory}}</p>
                <h4 *ngIf="member.skills">Skills</h4>
                <p>{{member.skills}}</p>
                <h4 *ngIf="member.languages">Languages</h4>
                <p>{{member.languages}}</p>
                <h4 *ngIf="member.militaryService">Military Service</h4>
                <p>{{member.militaryService}}</p>
            </tab>
            <tab heading="Photo" *ngIf="member.photoUrl">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Messages" *ngIf="member">
                <p>messages will go here</p>
            </tab>
        </tabset>
    </div>
</div>