<h3 class="text-center">About "Jobs-App"</h3>
<div class="container">
  <h3>Overall</h3>
  <p>This page explains the website features.<br>
    The website connect between employers and employees,
    help them to find a Job or find employee. <br>
    All the users can Like / Unlike other users, can message to each other at live chat with signalR <br>
    and can edit his own details, even upload photos.
  </p>
  <div>
    <h3>Find Employee</h3>
    <p>
      User can find other users by search field or by filters as age, employee / employer, profession, last active ,newest member or reset filters. <br>
      The result will be as cards that include all the important details of the user.<br>
      The user can navigate to user details by hover the card and click the user icon (left), 
      also the user can like / unlike the user by click the heart icon (middle), <br>
      and can message to user by click the message icon (right).
    </p>
  </div>
  <div>
    <h3>Edit profile</h3>
    <p>
     The member can edit his details, general details, resume and upload photos (until the admin improve the photo) and set main photo as well.
    </p>
  </div>
  <div>
    <h3>List</h3>
    <p>
      At list page the user can see member that i like them or member who like me.<br>
      If the user dont like any more other user, he can unlike and the member will be disappear.
    </p>
  </div>
  <div>
    <h3>Messages</h3>
    <p>
      At messages page the user can see messages unread, inbox or outbox from all the members.<br>
      The user can manage the messages by delete the messages.
    </p>
  </div>
  <div>
    <h3>Footer</h3>
    <p>
      The member can contact with the author of the website.
    </p>
  </div>
  <div>
    <h3>Error</h3>
    <p>
      This page for admin use only, check the error that we can get during use the web application.
    </p>
  </div>
  <div>
    <h3>Admin</h3>
    <p>
      When the admin login to the web, he will see the Admin page.<br>
      At this page he can manage the roles of other members, if them Member, Moderator or even Admin.<br>
      Also when member add photo he need to improve the photo. After the admin improve the photo the member will see the photo. 
    </p>
  </div>

</div>
