<h2 class="ml-3">Admin Panel</h2>
<div class="tab-panel ml-3 mr-3">
    <tabset class="member-tabset">
        <tab heading="User managment" *appHasRole="['Admin']">
            <div class="container">
                <app-user-managment></app-user-managment>
            </div>
        </tab>
        <tab heading="Photo managment" *appHasRole="['Admin', 'Moderator']">
            <div class="container">
                <app-photo-managment></app-photo-managment>
            </div>
        </tab>
    </tabset>
</div>